.flexContainer {
  display: flex;
}


.bar {
    overflow: hidden;
  }

  .boxField {
      margin-bottom: 1rem;
  }

  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    
  }

  :hover:before { 
    
  }

 
  .bar .baritem {
    float: center;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .down {
    display: inline-block;
    overflow: hidden;
  }

 
  
  .down .btn {
    font-size: 16px;  
    
    color: #4CAF50;
    font-size: 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .baritem {
    color: #485051!important;
  }
  .down-content {
    padding-top: 1rem;
    padding-left: 1%;
    padding-right: 4%;
    padding-bottom: 15px;
    left: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 15px 15px 5px rgba(0,0,0,0.2);
    z-index: 1;
    height: 100%;
    animation-duration: 1s
  }

  @keyframes slidein {
    from {
      margin-left: -45%;
      
    }
  
    to {
      margin-left: 0%;
      
    }
  }

  @keyframes slideout {
    from {
      margin-left: 0%;
      
    }
  
    to {
      margin-left: -45%;
      
    }
  }

  .down-content .baritem {
    display: block;
    text-align: left;
  }
  
  .down:hover .down-content {
    display: block;
  }

  .slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }